.jumbotron {
  margin-top: 20px;
  /* background-color: #cccccc; */
  background-image: url('../images/train.jpg');
  background-size: cover;
  color: white;
}

body {
  font-family: 'Raleway', sans-serif;
}
